input {
    /* width: 90%; */
}

.inputUpdate {
    width: 40%;
}

.formForUpdate>label {
    margin-left: 15px;
    width: 100px;
}

.updateButton {
    margin-left: 150px;
    padding-bottom: 25px;
}