input {
    /* width: 90%; */
}

.inputUpdate {
    width: 40%;
}

.formForUpdate>label {
    margin-left: 15px;
    width: 100px;
}

.updateButton {
    margin-left: 150px;
    padding-bottom: 25px;
}

.buttonClass {
    color: rgb(105, 105, 247);
}

.buttonClass:hover {
    cursor: pointer;
    color: rgb(86, 86, 144);
}